// fonts


// colors
$primary_color: darkred;
$secondary_color: #71d3d7;

$light_gray: #e6e6e6;
$medium_gray: #cacaca;
$dark_gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

// others
$global_transition: 0.3s ease-in-out;
$sidebar_width: 25rem;