// fonts
$regular: 'Poppins', Arial, Helvetica, sans-serif;
$title: 'Luxurious Roman', cursive;

// colors
$primary_color: darkred;
$secondary_color: #71d3d7;

$light_gray: #e6e6e6;
$medium_gray: #cacaca;
$dark_gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

// others
$post_size: 50rem;
$sidebar_img: true;