{block:Link}
<a href="{URL}" class="link-wrap">
    {block:Thumbnail}<img src="{Thumbnail-HighRes}">{/block:Thumbnail}
    <div class="link">
        <div class="title">{Name}</div>
        {block:Excerpt}<div class="link-txt">{Excerpt}</div>{/block:Excerpt}
        {block:Host}<div class="link-host">{Host}</div>{/block:Host}
    </div>
</a>
{block:Description}
    {block:NotReblog}
        <li class="caption">
            {Description}
        </li>
    {/block:NotReblog}
{/block:Description}
{block:RebloggedFrom}
    {block:Reblogs}
        <li class="caption">
            <img src="{PortraitURL-64}" class="user-icon">
            <div class="username {block:IsDeactivated}deactive{/block:IsDeactivated}"><a href="{Permalink}">{Username}</a></div>
            {Body}
        </li>
    {/block:Reblogs}
{/block:RebloggedFrom}
{/block:Link}