<span id="audio_player_673841550064812032"
  ><div class="audio_player">
    <iframe
      class="tumblr_audio_player tumblr_audio_player_673841550064812032"
      src="https://testexordium.tumblr.com/post/673841550064812032/audio_player_iframe/testexordium/tumblr_r5z5urrgCq1ymx6e1?audio_file=https%3A%2F%2Fa.tumblr.com%2Ftumblr_r5z5urrgCq1ymx6e1o1.mp3&amp;color=white&amp;simple=1"
      frameborder="0"
      allowtransparency="true"
      scrolling="no"
      width="207"
      height="27"
    ></iframe></div
></span>
