<div id="photoset_672827722766172160" class="html_photoset">
  <iframe
    id="photoset_iframe_672827722766172160"
    name="photoset_iframe_672827722766172160"
    class="photoset"
    scrolling="no"
    frameborder="0"
    height="399"
    width="700"
    style="border: 0; background-color: transparent; overflow: hidden"
    src="https://testexordium.tumblr.com/post/672827722766172160/photoset_iframe/testexordium/tumblr_r5eftiyKDv1ymx6e1/700/false"
    onload=""
  ></iframe>
</div>
