<ol class="notes">
  <!-- START NOTES -->
  <li class="note reply tumblelog_flying-corvidae without_commentary">
    <a class="avatar_frame" target="_blank" href="#">
      <img src="../../../assets/img/avatars/avatar_deux.jpg" class="avatar" alt="" />
    </a>
    <span class="action" >
      <a rel="nofollow" href="#">flying-corvidae</a>
      a dit :
      <span class="answer_content">
        hey, petit tips, tu as surement utilisé la bêta qui modifie grave les
        posts avatars (tumblr est grave relou avec)
      </span>
    </span>
    <div class="clear"></div>
  </li>
  <li class="note reblog tumblelog_testexordium without_commentary">
    <a class="avatar_frame" href="#" title="EXOFINDS">
      <img src="../../../assets/img/avatars/avatar_un.jpg" class="avatar" alt="" />
    </a>
    <span class="action">
      <a href="#" class="tumblelog" title="EXOFINDS" >testexordium</a>
      reblogged this from
      <a href="#" class="source_tumblelog" title="EXORDIUM">lescreationsdexordium</a>
    </span>
    <div class="clear"></div>
  </li>
  <li class="note like tumblelog_xoxo-writergirl without_commentary">
    <a class="avatar_frame" href="#" title="Giulia Godoy ">
      <img src="../../../assets/img/avatars/avatar_trois.jpg" class="avatar" alt="" />
    </a>
    <span class="action">
      <a href="#" title="Giulia Godoy">xoxo-writergirl</a>
      liked this
    </span>
    <div class="clear"></div>
  </li>
  <li
    class="note more_notes_link_container"
    style="text-align: center"
    id="more_notes_672828383015698432"
  >
    <a
      class="more_notes_link"
      rel="nofollow"
      href="#"
      onclick="this.style.display='none';document.getElementById('notes_loading_672828383015698432').style.display = 'block';if(window.ActiveXObject)var tumblrReq=new ActiveXObject('Microsoft.XMLHTTP');else if(window.XMLHttpRequest)var tumblrReq=new XMLHttpRequest();else return false;tumblrReq.onreadystatechange=function(){if(tumblrReq.readyState==4){var notes_html=tumblrReq.responseText.split('<!-- START '+'NOTES -->')[1].split('<!-- END '+'NOTES -->')[0];
if(window.tumblrNotesLoaded)if(tumblrNotesLoaded(notes_html)==false)return;var more_notes_link=document.getElementById('more_notes_672828383015698432');var notes=more_notes_link.parentNode;notes.removeChild(more_notes_link);notes.innerHTML+=notes_html;if(window.tumblrNotesInserted)tumblrNotesInserted(notes_html);}};tumblrReq.open('GET','/notes/672828383015698432/vngfPkTOL?from_c=1544734407&amp;large=true',true);tumblrReq.send();return false;"
      >Show more notes</a
    ><span
      class="notes_loading"
      id="notes_loading_672828383015698432"
      style="display: none"
      >Loading...</span
    >
  </li>
  <!-- END NOTES -->
</ol>
