<h2>Santanico Pandemonium</h2>
<p>
  Out there, the <b>world </b>is full of savages and tyrants. Out there we’ve all been victims and slaves, but in <i>here</i>, we live with
  <a href="https://www.tumblr.com/neue_web/iframe/edit/google.com">dignity </a>and freedom, and we do that by sticking to three <strike>rules</strike>.
</p>
<figure data-orig-height="130" data-orig-width="245">
  <img src="{{imagetext.url}}" width="{{imagetext.width}}" height="{{imagetext.height}}"/>
</figure>
<ol>
  <li>long</li>
  <li>live</li>
  <li>the</li>
  <li>queen</li>
</ol>
<ul>
  <li>long</li>
  <li>live</li>
  <li>the</li>
  <li>queen</li>
</ul>
<p>
  Out there, the <b>world </b>is full of savages and tyrants. Out there we’ve all been victims and slaves, but in <i>here</i>, we live with
  <a href="https://www.tumblr.com/neue_web/iframe/edit/google.com">dignity </a>and freedom, and we do that by sticking to three <strike>rules</strike>.
</p>
<figure class="tmblr-embed tmblr-full">
  <iframe class="embed_iframe" src="{{videotext.url}}" width="{{videotext.width}}" height="{{videotext.height}}" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="" webkitallowfullscreen=""></iframe>
</figure>
<figure class="tmblr-full" data-orig-height="400" data-orig-width="540" data-tumblr-attribution="queenofthisshit:oxNg3fHpnyDEoZSyjAxIwQ:ZewZ6aZn9k8fKW00">
  <img src="{{gifreacttext.url}}" width="{{gifreacttext.width}}" height="{{gifreacttext.height}}"/>
  <p class="tmblr-attribution">
    <a href="#">Originally posted by queenofthisshit</a>
  </p>
</figure>
<p class="read_more_container">
  <a href="#" class="read_more">Keep reading</a>
</p>
