$sidebar_width: 25rem;

/*----- SIDEBAR -----*/

#sidebar {
    width: $sidebar_width;
    position: fixed;
    top: 15rem;

    .title {
        font-family:$title; text-align: center;
        a {color:$primary_color;}
    }

    .description {text-align: justify;}
}

@mixin sidebar_img($sidebar_img: true) {
    @if $sidebar_img {
        .sidebar_img {display: block;}
    }
  }
@include sidebar_img($sidebar_img);