$sidebar_width: 25rem;

/*----- SIDEBAR -----*/

#sidebar {
    width: $sidebar_width;
    position: fixed;
    top: 15rem;
    text-align: center;
}

@mixin sidebar_img($sidebar_img: true) {
    @if $sidebar_img {
        .sidebar_img {opacity:0.5;}
    }
  }
@include sidebar_img($sidebar_img);