<!DOCTYPE html>
<html>
<head>
    <title>{{base.title}}</title>
    <link rel="shortcut icon" href="{base.favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    <meta name="description" content="{MetaDescription}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>

    {{!> header}}

    <main>

    {{> sidebar}}

    <section>

        {{#if base.tagPage.visible}}
          <article>
              Viewing posts filed under #{{base.tagPage.tag}}
          </article>
        {{/if}}

        {{#if base.dayPage.visible}}
          <article>
              Viewing posts made on {{base.dayPage.month}} {{base.dayPage.dayofmonth}}, {{base.dayPage.year}}
          </article>
        {{/if}}

        {{> posts_container}}

    </section>

    </main>

</body>
</html>
