<!DOCTYPE html>
<html>
<head>
    <title>{{base.title}}</title>
    <link rel="shortcut icon" href="{base.favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    <meta name="description" content="{MetaDescription}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://static.tumblr.com/a0dmjhi/Ka7omax1p/layout.css" />
    <link rel="stylesheet" href="../assets/css/app.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {{!> header}}

    <main>
        {{> sidebar}}

        <section>
            {{> body}}
        </section>
    </main>

    <footer>
        {{> credit}}
    </footer>
</body>
</html>